<h1>This is the secret page</h1>

<p>You found me!</p>

<img src="http://www.thetimes.co.uk/imageserver/image/methode%2Ftimes%2Fprod%2Fweb%2Fbin%2Fb2a6ec6a-4f4f-11e6-953c-cb8534df0970.jpg?crop=940%2C529%2C0%2C49&resize=685" alt="secret photo">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>